/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* regole HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.72) 41%, rgba(0,0,0,0.24) 80%, rgba(0,0,0,0) 100%);
  padding: 10px;
  z-index: 3;
}

.header img {
  width: 120px;
}

.header input {
  width: 230px;
  height: 35px;
  text-indent: 10px;
  border-radius: 5px;
  margin-right: 15px;
  border: none;
}

.header button {
  width: 65px;
  height: 30px;
  border-radius: 5px;
  background-color: #b81d24;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
  border: none;
  cursor: pointer;
}

/* regole MAIN */
.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 200px;
  background: #141414;
}

.section-movie {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  min-height: 650px;
  margin: auto;
  padding: 10px;
}

.movie-info {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc((100% / 5) - 40px);
  height: 320px;
  border: 1px solid white;
}

.movie-info h3 {
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.movie-info h4, h5 {
  text-align: center;
  color: #6d6f72;
  margin-bottom: 5px;
}

.movie-info > h5:nth-last-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-info > h5:last-child > .fas {
  color: #f8ce0b;
}

.movie-info > h5:nth-last-child(2) > img {
  margin-left: 5px;
  width: 25px;
}
